# Guided Capstone Step 4. Pre-Processing and Training Data Development

**The Data Science Method**  


1.   Problem Identification 


2.   Data Wrangling 
  
 
3.   Exploratory Data Analysis   

4.   **Pre-processing and Training Data Development**  
 * Create dummy or indicator features for categorical variables
  * Standardize the magnitude of numeric features
  * Split into testing and training datasets
  * Apply scaler to the testing set
5.   Modeling 
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

**<font color='teal'> Start by loading the necessary packages as we did in step 3 and printing out our current working directory just to confirm we are in the correct project directory. </font>**

In [12]:
#load python packages
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
#print out current directory
os.getcwd()

'C:\\Users\\thoma\\projects\\datascience\\capstone-01\\data\\processed'

**<font color='teal'>  Load the csv file you created in step 3, remember it should be saved inside your data subfolder and print the first five rows.</font>**

In [13]:
path = 'C:\\Users\\thoma\\projects\\datascience\\capstone-01\\data\\processed'
print(os.listdir(path))
os.chdir(path)

df = pd.read_csv('step3_output.csv',)
df.head()

['step2_output.csv', 'step3_output.csv']

,Name,state,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,...,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,clusters
0,Hilltop Ski Area,Alaska,2090,294,0,0,0,0,0,1,...,30.0,30.0,150,36,69.0,30.0,34.00000,152,30.0,0
1,Sunrise Park Resort,Arizona,11100,1800,0,0,0,1,2,3,...,800.0,80.0,115,49,250.0,74.0,78.00000,104,80.0,1
2,Yosemite Ski & Snowboard Area,California,7800,600,0,0,0,0,0,1,...,88.0,0.0,110,84,300.0,47.0,47.00000,107,0.0,1
3,Boreal Mountain Resort,California,7700,500,0,0,0,1,1,3,...,380.0,200.0,150,54,400.0,49.0,64.16681,150,200.0,1
4,Dodge Ridge,California,8200,1600,0,0,0,0,1,2,...,862.0,0.0,115,69,350.0,78.0,78.00000,140,0.0,1

## Create dummy features for categorical variables

**<font color='teal'> Create dummy variables for `state`. Add the dummies back to the dataframe and remove the original column for `state`. </font>**

Hint: you can see an example of how to execute this in Aiden's article on preprocessing [here](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-pre-processing-and-training-data-development-fd2d75182967).

In [14]:
dfo=df[['state']] # select object type columns and then deselect name
print(dfo.head())

df = pd.concat([df.drop(dfo, axis=1), pd.get_dummies(dfo)], axis=1)
df.info()

        state
0      Alaska
1     Arizona
2  California
3  California
4  California
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 60 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  175 non-null    object
 1   summit_elev           175 non-null    int64
 2   vertical_drop         175 non-null    int64
 3   trams                 175 non-null    int64
 4   fastEight             175 non-null    int64
 5   fastSixes             175 non-null    int64
 6   fastQuads             175 non-null    int64
 7   quad                  175 non-null    int64
 8   triple                175 non-null    int64
 9   double                175 non-null    int64
 10  surface               175 non-null    int64
 11  total_chairs          175 non-null    int64
 12  Runs                  175 non-null    int64
 13  TerrainParks          175 non-null    int64
 14  LongestRun_mi         175 non-null    float64
 15  SkiableTerrain_ac     175 non-null    float64
 16  Snow Making_ac        175 non-null    float64
 17  daysOpenLastYear      175 non-null    int64
 18  yearsOpen             175 non-null    int64
 19  averageSnowfall       175 non-null    float64
 20  AdultWeekday          175 non-null    float64
 21  AdultWeekend          175 non-null    float64
 22  projectedDaysOpen     175 non-null    int64
 23  NightSkiing_ac        175 non-null    float64
 24  clusters              175 non-null    int64
 25  state_Alaska          175 non-null    uint8
 26  state_Arizona         175 non-null    uint8
 27  state_California      175 non-null    uint8
 28  state_Colorado        175 non-null    uint8
 29  state_Connecticut     175 non-null    uint8
 30  state_Idaho           175 non-null    uint8
 31  state_Illinois        175 non-null    uint8
 32  state_Indiana         175 non-null    uint8
 33  state_Iowa            175 non-null    uint8
 34  state_Maine           175 non-null    uint8
 35  state_Maryland        175 non-null    uint8
 36  state_Massachusetts   175 non-null    uint8
 37  state_Michigan        175 non-null    uint8
 38  state_Minnesota       175 non-null    uint8
 39  state_Missouri        175 non-null    uint8
 40  state_Montana         175 non-null    uint8
 41  state_Nevada          175 non-null    uint8
 42  state_New Hampshire   175 non-null    uint8
 43  state_New Jersey      175 non-null    uint8
 44  state_New Mexico      175 non-null    uint8
 45  state_New York        175 non-null    uint8
 46  state_North Carolina  175 non-null    uint8
 47  state_Ohio            175 non-null    uint8
 48  state_Oregon          175 non-null    uint8
 49  state_Pennsylvania    175 non-null    uint8
 50  state_Rhode Island    175 non-null    uint8
 51  state_South Dakota    175 non-null    uint8
 52  state_Tennessee       175 non-null    uint8
 53  state_Utah            175 non-null    uint8
 54  state_Vermont         175 non-null    uint8
 55  state_Virginia        175 non-null    uint8
 56  state_Washington      175 non-null    uint8
 57  state_West Virginia   175 non-null    uint8
 58  state_Wisconsin       175 non-null    uint8
 59  state_Wyoming         175 non-null    uint8
dtypes: float64(7), int64(17), object(1), uint8(35)
memory usage: 40.3+ KB

## Standardize the magnitude of numeric features

**<font color='teal'> Using sklearn preprocessing standardize the scale of the features of the dataframe except the name of the resort which we done't need in the dataframe for modeling, so it can be droppped here as well. Also, we want to hold out our response variable(s) so we can have their true values available for model performance review. Let's set `AdultWeekend` to the y variable as our response for scaling and modeling. Later we will go back and consider the `AdultWeekday`, `dayOpenLastYear`, and `projectedDaysOpen`. For now leave them in the development dataframe. </font>**

In [20]:
# first we import the preprocessing package from the sklearn library
from sklearn import preprocessing

# Declare an explanatory variable, called X,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df
X = df.drop(['Name','AdultWeekend'], axis=1)
print(X.info())

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = df.loc[:,'AdultWeekend']
print(y)

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = preprocessing.StandardScaler().fit(X)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled = scaler.transform(X) 
X_scaled

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 58 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   summit_elev           175 non-null    int64
 1   vertical_drop         175 non-null    int64
 2   trams                 175 non-null    int64
 3   fastEight             175 non-null    int64
 4   fastSixes             175 non-null    int64
 5   fastQuads             175 non-null    int64
 6   quad                  175 non-null    int64
 7   triple                175 non-null    int64
 8   double                175 non-null    int64
 9   surface               175 non-null    int64
 10  total_chairs          175 non-null    int64
 11  Runs                  175 non-null    int64
 12  TerrainParks          175 non-null    int64
 13  LongestRun_mi         175 non-null    float64
 14  SkiableTerrain_ac     175 non-null    float64
 15  Snow Making_ac        175 non-null    float64
 16  daysOpenLastYear      175 non-null    int64
 17  yearsOpen             175 non-null    int64
 18  averageSnowfall       175 non-null    float64
 19  AdultWeekday          175 non-null    float64
 20  projectedDaysOpen     175 non-null    int64
 21  NightSkiing_ac        175 non-null    float64
 22  clusters              175 non-null    int64
 23  state_Alaska          175 non-null    uint8
 24  state_Arizona         175 non-null    uint8
 25  state_California      175 non-null    uint8
 26  state_Colorado        175 non-null    uint8
 27  state_Connecticut     175 non-null    uint8
 28  state_Idaho           175 non-null    uint8
 29  state_Illinois        175 non-null    uint8
 30  state_Indiana         175 non-null    uint8
 31  state_Iowa            175 non-null    uint8
 32  state_Maine           175 non-null    uint8
 33  state_Maryland        175 non-null    uint8
 34  state_Massachusetts   175 non-null    uint8
 35  state_Michigan        175 non-null    uint8
 36  state_Minnesota       175 non-null    uint8
 37  state_Missouri        175 non-null    uint8
 38  state_Montana         175 non-null    uint8
 39  state_Nevada          175 non-null    uint8
 40  state_New Hampshire   175 non-null    uint8
 41  state_New Jersey      175 non-null    uint8
 42  state_New Mexico      175 non-null    uint8
 43  state_New York        175 non-null    uint8
 44  state_North Carolina  175 non-null    uint8
 45  state_Ohio            175 non-null    uint8
 46  state_Oregon          175 non-null    uint8
 47  state_Pennsylvania    175 non-null    uint8
 48  state_Rhode Island    175 non-null    uint8
 49  state_South Dakota    175 non-null    uint8
 50  state_Tennessee       175 non-null    uint8
 51  state_Utah            175 non-null    uint8
 52  state_Vermont         175 non-null    uint8
 53  state_Virginia        175 non-null    uint8
 54  state_Washington      175 non-null    uint8
 55  state_West Virginia   175 non-null    uint8
 56  state_Wisconsin       175 non-null    uint8
 57  state_Wyoming         175 non-null    uint8
dtypes: float64(6), int64(17), uint8(35)
memory usage: 37.6 KB
None
0      34.00000
1      78.00000
2      47.00000
3      64.16681
4      78.00000
         ...
170    48.00000
171    42.00000
172    59.00000
173    49.00000
174    49.00000
Name: AdultWeekend, Length: 175, dtype: float64

array([[-0.50042345, -0.95246155,  0.        , ..., -0.13206764,
        -0.25898489, -0.17149859],
       [ 2.28485905,  1.59768618,  0.        , ..., -0.13206764,
        -0.25898489, -0.17149859],
       [ 1.26472228, -0.43430404,  0.        , ..., -0.13206764,
        -0.25898489, -0.17149859],
       ...,
       [ 1.26719534,  1.20991471,  0.        , ..., -0.13206764,
        -0.25898489,  5.83095189],
       [ 1.84063586,  0.22609278,  0.        , ..., -0.13206764,
        -0.25898489,  5.83095189],
       [ 1.79024728,  0.41235855,  0.        , ..., -0.13206764,
        -0.25898489,  5.83095189]])

## Split into training and testing datasets

**<font color='teal'> Using sklearn model selection import train_test_split, and create a 75/25 split with the y = `AdultWeekend`. We will start by using the adult weekend ticket price as our response variable for modeling.</font>**

In [22]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split

# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()
print(y)

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

[34.         78.         47.         64.16681004 78.         75.
 64.16681004 59.         84.         83.         64.16681004 79.
 50.         69.         89.         71.         56.         84.
 65.         65.         60.         55.         62.         42.
 42.         47.         32.         47.         64.16681004 43.
 55.         35.         40.         45.         52.         39.
 46.         43.         55.         49.         32.         75.
 79.         68.         45.         40.         64.16681004 47.
 35.         65.         49.         49.         64.16681004 49.
 34.         45.         45.         45.         35.         42.
 45.         64.16681004 45.         47.         44.         37.
 58.         35.34       48.         59.         49.         47.
 48.         39.         50.         47.         70.         89.
 59.         64.16681004 50.         92.         58.         93.
 72.         93.         45.         89.         64.16681004 77.
 20.         49.         79.         47.         80.         76.
 69.         35.         63.2        42.         75.         59.
 38.         30.         54.         40.         67.         45.
 48.         59.         57.         49.         55.         59.
 39.         64.         70.         65.         43.         44.
 44.         52.         40.         39.         52.         62.
 68.         70.         69.         65.         33.         65.
 44.         64.16681004 64.16681004 45.         64.16681004 45.
 65.         50.         80.         50.         79.         91.
 73.         64.16681004 74.         81.         79.         75.
 68.         64.16681004 64.16681004 47.         59.         69.
 68.         92.         72.         64.         38.         64.16681004
 49.         41.         56.         47.         44.         54.
 48.         60.         48.         42.         59.         49.
 49.        ]

Here we start the actual modeling work. First let's fit a multiple linear regression model to predict the `AdultWeekend` price.

# Guided Capstone Step 5. Modeling

This is the fifth step in the Data Science Method. In the previous steps you cleaned and prepared the datasets. Now it's time to get into the most exciting part: modeling! In this exercise, you'll build three different models and compare each model's performance. In the end, you'll choose the best model for demonstrating insights to Big Mountain management.



### **The Data Science Method**  


1.   Problem Identification 

2.   Data Wrangling 
  
3.   Exploratory Data Analysis 
 
4.   Pre-processing and Training Data Development

5.   **Modeling**
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

## Multiple Linear Regression Formula
The Formula for Multiple Linear Regression is:
\begin{aligned} &y_i = \beta_0 + \beta _1 x_{i1} + \beta _2 x_{i2} + ... + \beta _p x_{ip} + \epsilon\\ &\textbf{where, for } i = n \textbf{ observations:}\\ &y_i=\text{dependent variable}\\ &x_i=\text{expanatory variables}\\ &\beta_0=\text{y-intercept (constant term)}\\ &\beta_p=\text{slope coefficients for each explanatory variable}\\ &\epsilon=\text{the model's error term (also known as the residuals)}\\ \end{aligned} 
[SOURCE](https://www.investopedia.com/terms/m/mlr.asp)

## Fit Models with a Training Dataset

**<font color='teal'> Using sklearn, fit the model on your training dataset.</font>**

#### Model 1

In [23]:
# all first model set
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error

lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

**<font color='teal'> Predict on the testing dataset and score the model performance with the y_test set and the y-pred values. The explained variance is a measure of the variation explained by the model. This is also known as the R-squared value. </font>**

Hint: you will have to use the `predict()` method here as it's used in this [DSM article](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-modeling-56b4233cad1b) about modeling.

In [24]:
# Make a variable called y_pred and assign it the result of calling predict() on our model variable with parameter X_test
y_pred = model.predict(X_test)

## Review Model Outcomes — Iterate over additional models as needed

In [25]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# You can plug y_test and y_pred into the functions to evaluate the model
explained_variance_score(y_test, y_pred)

-2.9789398350253193e+21

In [26]:
mean_absolute_error(y_test, y_pred)

142699552075.22092

**<font color='teal'> Print the intercept value from the linear model. </font>**

Hint: our linear regression model `lm` has an attribute `intercept_` for the intercept

In [27]:
lm.intercept_

-35878744463.5336

**<font color='teal'> The intercept is the mean `AdultWeekend` price for all the resorts given the other characteristics. The addition or subtraction of each of the coefficient values in the regression are numeric adjustments applied to the intercept to provide a particular observation's value for the resulting `AdultWeekend` value. Also, because we took the time to scale our x values in the training data, we can compare each of the coeeficients for the features to determine the feature importances. Print the coefficient values from the linear model and sort in descending order to identify the top ten most important features.</font>** 


Hint: make sure to review the absolute value of the coefficients, because the adjustment may be positive or negative, but what we are looking for is the magnitude of impact on our response variable.

In [32]:
# You might want to make a pandas DataFrame displaying the coefficients for each state like so: 
pd.DataFrame(abs(lm.coef_), X.columns, columns=['Coefficient']).sort_values('Coefficient', ascending=False).head(10)

                      Coefficient
fastEight            1.108472e+13
trams                9.722797e+12
total_chairs         4.022937e+12
double               2.203034e+12
surface              2.116515e+12
state_New York       1.997627e+12
triple               1.804413e+12
state_Michigan       1.757678e+12
state_California     1.586785e+12
state_New Hampshire  1.523884e+12

**<font color='teal'>You should see that the top ten important features are different states. However, the state is not something the managers at the Big Mountain Resort can do anything about. Given that we care more about actionable traits associated with ticket pricing, rebuild the model without the state features and compare the results. </font>**

Hint: Try to construct another model using exactly the steps we followed above.

#### Model 2

**<font color='teal'> When reviewing our new model coefficients, we see `summit_elev` is now in the number two spot. This is also difficult to change from a management prespective and highly correlated with `base_elev` and `vertical_drop`.  This time, rebuild the model without the state features and without the `summit_elev` and without `base_elev`and compare the results. </font>**

#### Model 3

## Identify the Final Model

**<font color='teal'> Review the model performances in the table below and choose the best model for proving insights to Big Mountain management about what features are driving ski resort lift ticket prices. Type your choice in the final markdown cell — you will discuss this selection more in the next step of the guided casptone. </font>**

| Model | Explained Variance| Mean Absolute Error|Features Dropped|
| --- | --- | --- | --- |
| Model 1. | 0. |  |-|
| Model 2. | 0.| |'state'|
| Model 3. | 0. | |'state','summit_elev','base_elev'|

Model Selection: